a:hover {
  font-size:larger;
  color:rgb(137, 83, 83);
}

a {
  color:rgb(137, 83, 83);
}

#title {
  padding:20px;
  text-align:center;
}

#title-img {
  width:700px;
}

#machines {
  flex:60%;
  padding:20px;
  border:2px dashed black;
  margin:10px;
}

#engineers {
  flex:40%;
  padding:20px;
  border:2px dashed black;
  margin:10px;
}

#lists {
  display:flex;
  padding:20px;
}

#home-links {
  padding:20px;
  margin:40px auto;
  width:700px;
  border:2px solid darkred;
  text-align:center;
}

#elink {
  padding:4px;
  border:1px dotted black;
  width: 250px;
  margin:10px auto;
}

#elink:hover {
  font-family:monospace;
  font-weight:bold;
  background-color:tan;
}

#mlink {
  padding:4px;
  border:1px dotted black;
  width: 250px;
  margin:10px auto;
}

#mlink:hover {
  font-family:monospace;
  font-weight:bold;
  background-color:lightgray;
}

#homepage {
  background-image:url(../img/rock.png);
  background-repeat:no-repeat;
  background-size:150px;
  background-position-x:50px;
  background-position-y:bottom;
}

#homelinks {
  font-family:monospace;
}

h4 {
  font-family:monospace;
}